<%
var absolutePath = filename.split("source/html/")[1].replace("index.ejs","");
var rootPath = "../".repeat([absolutePath.split("/").length -1]);
var pageName = absolutePath.replace("/", "");
var param = {
  pageName: pageName == "" ? "top" : pageName,
  absolutePath: "https://ubi-naist.github.io/ParmoSense/" + absolutePath,
  rootPath: rootPath == "" ? "./" : rootPath
};
-%>
<%- include(param.rootPath + "template/header", {param: param}) -%>

<div class="main">
  <div class="contents for-lod-challenge">
    <section class="content sub-page-top-visual">
      <div class="content-wrap">
        <h1>LOD Challenge 2016<span>デモアプリ</span></h1>
      </div>
    </section>
    <section class="content">
      <div class="content-wrap">
        <h1>■ デモモードの使用方法</h1>
        <div class="lodc-step clearfix">
          <h2>① スマートフォンアプリのインストール</h2>
          <p>
            ParmoSenseは以下のリンクからダウンロード可能です。<br>
            端末のスペック要件については<a href="/download/">こちら</a>をご確認ください。
          </p>
          <div class="download-link">
            <a href="https://play.google.com/store/apps/details?id=jp.naist.ubi_lab.parmo_sense"> <img src="../../img/badge_googleplay.png" alt="ParmoSense Android"></a>
            <a href="https://itunes.apple.com/jp/app/parmosense/id1184713498"><img src="../../img/badge_appstore.png" alt="ParmoSense iOS"></a>
          </div>
        </div>
        <div class="lodc-step clearfix">
          <img src="../../img/lodc/step2.png" class="right-img">
          <h2>② デモモードの起動</h2>
          <p>
            インストールした ParmoSense スマートフォンアプリを起動すると、
            ログイン画面が表示されます。<br>
            ログイン画面右上に「TRY DEMO」というボタンがあるので、
            タップするとログインを必要とせずに「デモモード」を起動することができます。
          </p>
          <p>※通常、ParmoSenseを利用するためには、ログインが必要となります。</p>
        </div>
        <div class="lodc-step clearfix">
          <img src="../../img/lodc/step3.png" class="right-img">
          <h2>③ 写真を撮影する</h2>
          <p>
            共有する情報として写真をアップロードできるようになっています。
            画面下部中央の「カメラボタン」をタップするとカメラを起動できます。
            共有したい写真を撮影してみましょう。<br>
            撮影した写真にはコメントを付けることができます。
          </p>
        </div>
        <div class="lodc-step clearfix">
          <img src="../../img/lodc/step4.png" class="right-img">
          <h2>④ 他のユーザが共有した情報を見る</h2>
          <p>
            他のユーザが共有した情報は、リアルタイムに「地図」上と「タイムライン」上に反映されます。
            共有された情報の詳細を見る方法は2つあります。
          </p>
          <ul>
            <li>地図上のマーカーをタップする</li>
            <li>画面下部左の「タイムライン」ボタンをタップする</li>
          </ul>
        </div>
        <h1>■ オープンデータ化</h1>
        <div class="lodc-step clearfix">
          <img src="../../img/lodc/edit.png" class="right-img">
          <h2>⑤ 情報を選別・編集する</h2>
          <p>
            共有された情報を使って、<a href="http://sv01.ubi-lab.com/Parmo/26/edit/">データ編集システム</a>上から選別や編集することにより、より品質の高いデータを生成することが可能です。
            デモモードで利用可能な機能は以下のとおりです。
          </p>
          <ul>
            <li>データの取捨選択</li>
            <li>タイトル・詳細説明・関連URLの設定</li>
            <li>写真の回転</li>
          </ul>
          <p>
            また、選別・編集したデータは、右上の出力ボタンから、JSONやXML、KMLなどといったデータ形式でアウトプットすることが可能です。
          </p>
          <a href="http://sv01.ubi-lab.com/Parmo/26/edit/">→ データ編集システムへアクセスする</a>
        </div>
        <div class="lodc-step clearfix">
          <h2>⑥ Web API からオープンデータを取得する</h2>
          <p>
            ステップ⑤ で生成したオープンデータは、
            Web API 経由でも取得可能です。<br>
            それぞれのデータフォーマットで出力する方法は以下のとおりです。
          </p>
          <ul>
            <li><a href="http://sv01.ubi-lab.com/Parmo/26/opendata/?format=json">JSON： http://sv01.ubi-lab.com/Parmo/26/opendata/?format=json</a></li>
            <li><a href="http://sv01.ubi-lab.com/Parmo/26/opendata/?format=xml">XML： http://sv01.ubi-lab.com/Parmo/26/opendata/?format=xml</a></li>
            <li><a href="http://sv01.ubi-lab.com/Parmo/26/opendata/?format=kml">KML： http://sv01.ubi-lab.com/Parmo/26/opendata/?format=kml</a></li>
          </ul>
          <a href=""></a>
        </div>
      </div>
    </section>
  </div>
</div>


<%- include(param.rootPath + 'template/footer') -%>