<%- include('../template/header') -%>

<div class="main">
  <div class="contents">
    <section class="content sub-page-top-visual">
      <div class="content-wrap">
        <h1>About ParmoSense<span>ParmoSense とは</span></h1>
      </div>
    </section>
    <section class="content">
      <div class="content-wrap">
        <h1>Concepts<span>コンセプト</span></h1>
        <p>
          About
        </p>
      </div>
    </section>
  </div>
</div>

<%- include('../template/footer') -%>
