<%- include('../template/header') -%>

<div class="main">
  <div class="contents">
    <section class="content sub-page-top-visual">
      <div class="content-wrap">
        <h1>ParmoSense</h1>
      </div>
    </section>
  </div>
</div>

<%- include('../template/footer') -%>