<%- include('./template/header') -%>

<div class="main">
  <div class="contents">
    <section class="content events">
      <div class="content-wrap">
        <h1>Events</h1>
        <p>
          Events
        </p>
      </div>
    </section>
    <section class="content download-link">
      <div class="content-wrap">
        <a href="https://play.google.com/store/apps/details?id=jp.naist.ubi_lab.parmo_sense"> <img src="../img/badge_googleplay.png" alt="ParmoSense Android"></a>
        <a href="https://itunes.apple.com/jp/app/parmosense/id1184713498"><img src="../img/badge_appstore.png" alt="ParmoSense iOS"></a>
      </div>
    </section>
  </div>
</div>

<%- include('./template/footer') -%>