<%
var absolutePath = filename.split("source/html/")[1].replace("index.ejs","");
var rootPath = "../".repeat([absolutePath.split("/").length -1]);
var pageName = absolutePath.replace("/", "");
var param = {
  pageName: pageName == "" ? "top" : pageName,
  absolutePath: "https://ubi-naist.github.io/ParmoSense/" + absolutePath,
  rootPath: rootPath == "" ? "./" : rootPath
};
-%>
<%- include(param.rootPath + "template/header", {param: param}) -%>
<!-- 
<%- include(param.rootPath + 'template/lodc') -%>

<%- include(param.rootPath + "template/udc") -%>
 -->
<div class="main">
  <div class="contents research">
    <section class="content sub-page-top-visual">
      <div class="content-wrap">
        <h1>Research<span>研究活動</span></h1>
      </div>
    </section>
    <section class="content">
      <div class="content-wrap">
        <div class="slide-container">
          <iframe src="//www.slideshare.net/slideshow/embed_code/key/84OPbFeq877zmT" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen> </iframe>
          <div>
            <a href="//www.slideshare.net/ubilab_naist/dicomo-2016" title="多様なユースケースに対応可能なユーザ参加型モバイルセンシング基盤の実装と評価（DICOMO 2016）" target="_blank">多様なユースケースに対応可能なユーザ参加型モバイルセンシング基盤の実装と評価（DICOMO 2016）</a>
          </div>
        </div>
        <h1>研究業績</h1>
        <ol class="publication">
          <li>Masato Hidaka, Yuki Matsuda, Shogo Kawanaka, Yugo Nakamura, Manato Fujimoto, Yutaka Arakawa, and Keiichi Yasumoto,<br>
            “A System for Collecting and Curating Sightseeing Information toward Satisfactory Tour Plan Creation,”<br>
            The Second International Workshop on Smart Sensing Systems (IWSSS’17), Oulu, Finland, August 7-8, 2017.</li>
          <li>松田裕貴, 河中祥吾, 諏訪博彦, 荒川豊, 安本慶一,<br>
            “ユーザ参加型センシングの割り込みに対する応答性調査 〜時空間データとタスク難易度およびユーザ属性による考察〜,”<br>
            情報処理学会, マルチメディア, 分散, 協調とモバイル（DICOMO 2017）シンポジウム論文集, pp.246–254, 北海道札幌市, 2017年6月.
            <ul class="awards"><li>最優秀プレゼンテーション賞</li></ul></li> 
          <li>日高真人, 松田裕貴, 河中祥吾, 中村優吾, 藤本まなと, 荒川豊, 安本慶一,<br>
            “実時間観光コンテンツ提供に向けた観光情報収集・キュレーションシステムの提案,”<br>
            第68回 高度交通システムとスマートコミュニティ研究会（ITS）, 北海道函館市, 2017年3月.</li>
          <li>松田裕貴, Akpa Akpro Elder Hippocrate, Konan N'djabli Cedric Ange, 中村優吾, 前田直樹, 千住琴音, 荒川豊：<br>
            “位置情報サービスにおける個人特化型ゲーミフィケーション 〜スタンプラリーイベントを通じた「慣れ」「飽き」の調査〜,”<br>
            第3回行動変容と社会システム研究会（BCSS）/ 社会システムと情報技術研究ウィーク in ルスツリゾート, 2017年3月.</li>
          <li>松田裕貴, 荒川豊, 安本慶一,<br>
            “多様なユースケースに対応可能なユーザ参加型モバイルセンシング基盤の実装と評価,”<br>
            情報処理学会, マルチメディア, 分散, 協調とモバイル（DICOMO 2016）シンポジウム論文集, pp.1042–1050, 2016年7月．
            <ul class="awards"><li>優秀論文賞</li><li>最優秀プレゼンテーション賞</li></ul></li> 
          <li>松田裕貴, 荒川豊, 安本慶一,<br>
            “DyPRoS：地域情報発信のための動的フォトロゲイニングシステム,”<br>
            電子情報通信学会技術研究報告, HCGシンポジウム2015, pp.480–485, 2015年12月.</li> 
        </ol>
      </div>
    </section>
  </div>
</div>


<%- include(param.rootPath + 'template/footer') -%>