<%
var absolutePath = filename.split("source/html/")[1].replace("index.ejs","");
var rootPath = "../".repeat([absolutePath.split("/").length -1]);
var pageName = absolutePath.replace("/", "");
var param = {
  pageName: pageName == "" ? "top" : pageName,
  absolutePath: "https://ubi-naist.github.io/ParmoSense/" + absolutePath,
  rootPath: rootPath == "" ? "./" : rootPath
};
-%>
<%- include(param.rootPath + "template/header", {param: param}) -%>
<!-- 
<%- include(param.rootPath + 'template/lodc') -%>

<%- include(param.rootPath + "template/udc") -%>
 -->
<div class="main">
  <div class="contents research">
    <section class="content sub-page-top-visual">
      <div class="content-wrap">
        <h1>Research<span>研究活動</span></h1>
      </div>
    </section>
    <section class="content">
      <div class="content-wrap">
        <div class="slide-container">
          <iframe src="//www.slideshare.net/slideshow/embed_code/key/84OPbFeq877zmT" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen> </iframe>
          <div>
            <a href="//www.slideshare.net/ubilab_naist/dicomo-2016" title="多様なユースケースに対応可能なユーザ参加型モバイルセンシング基盤の実装と評価（DICOMO 2016）" target="_blank">多様なユースケースに対応可能なユーザ参加型モバイルセンシング基盤の実装と評価（DICOMO 2016）</a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>


<%- include(param.rootPath + 'template/footer') -%>