
<footer class="footer">
  <div class="footer-image">
  <div class="footer-wrap">
    <nav>
      <ul class="site-link">
        <li>
          <li><a href="/">Home</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/events/">Events</a></li>
          <li><a href="/team/">Team</a></li>
          <li><a href="/download/">Download</a></li>
          <li><a href="mailto:parmosense.naist@gmail.com">Contact</a></li>
      </ul>
    </nav>
    <nav>
      <ul class="ex-link">
        <!-- <li>
          <a href="https://twitter.com/share"
          class="twitter-share-button"
          data-url="https://ubi-naist.github.io/"
          data-text="ParmoSenseを使ってみんなでオープンデータを作ろう！"></a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
      </ul> -->
    </nav>
    <a href="http://ubi-lab.naist.jp/"><img src="/img/logo_naist-ubi.png"></a>
    <p><small>&copy; ParmoSense, Ubiquitous Computing Systems Lab., Nara Institute of Science and Technology.</small></p>
  </div>
</footer>
</body>
</html>
