
<footer class="footer">
  <div class="footer-wrap">
    <p>contact：<a href="mailto:parmosense.naist@gmail.com">parmosense.naist<span class="gmail-domain"></span></a></p>
    <p><small>&copy; copyright 2016 ParmoSense</small></p>
  </div>
</footer>
</body>
</html>