<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset="UTF-8">
  <title>ParmoSense | <%= param.pageName %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no">

  <meta property="og:title" content="ParmoSense | <%= param.pageName %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= param.absolutePath %>" />
  <meta property="og:image" content="https://ubi-naist.github.io/ParmoSense/img/ogp/parmosense.png" />
  <meta property="og:site_name" content="ParmoSense" />
  <meta property="og:description" content="ParmoSenseは、街歩き・観光・地域イベントなどの参加者が、互いに「位置情報」に紐づく「情報」をリアルタイムに共有するためのプラットフォームです。" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@naist_ubi" />
  <meta property="fb:app_id" content="1239994606080052" />

  <link rel="stylesheet" href="/ParmoSense/css/style.css">
  <script src="https://use.typekit.net/ikc1arp.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>

<body>

<header class="menubar">
  <div class="action-wrap">
    <a href="/ParmoSense/"><h1><span>ParmoSense</span></h1></a>
    <nav>
      <ul>
        <li><a href="/ParmoSense/about/">About</a></li>
        <li><a href="/ParmoSense/events/">Events</a></li>
        <li><a href="/ParmoSense/team/">Team</a></li>
        <li><a href="/ParmoSense/download/">Download</a></li>
      </ul>
    </nav>
  </div>
</header>
