<%
var absolutePath = filename.split("source/html/")[1].replace("index.ejs","");
var rootPath = "../".repeat([absolutePath.split("/").length -1]);
var pageName = absolutePath.replace("/", "");
var param = {
  pageName: pageName == "" ? "top" : pageName,
  absolutePath: "https://ubi-naist.github.io/ParmoSense/" + absolutePath,
  rootPath: rootPath == "" ? "./" : rootPath
};
-%>
<%- include(param.rootPath + "template/header", {param: param}) -%>

<%- include(param.rootPath + 'template/lodc') -%>

<div class="main">
  <div class="contents">
    <section class="content support">
      <div class="content-wrap">
        <h1>Support</h1>
        <p>
          Support
        </p>
      </div>
    </section>
  </div>
</div>


<%- include(param.rootPath + 'template/footer') -%>