<%- include('./template/header') -%>

<div class="main">
  <div class="top-visual">
  </div>

  <div class="contents top-page">
    <section class="content brief-intro">
      <div class="content-wrap clearfix">
        <h1>ParmoSense <span>Platform for participatory mobile urban sensing</span></h1>
        <div class="parmosense">
          <h2>About</h2>
          <div>
            <img class="content-image" src="img/parmo.png">
            <p>
              ParmoSenseは，ユーザ参加型モバイルセンシングアプリケーションです．</br>
              位置情報と紐付いた様々な「情報」を他のユーザと共有することが可能です．</br>
              また，収集したデータは専用Webページからcsvやkmlファイルとしてダウンロードでき，オープンデータとして利用可能となっています．</br>
            </p>
          </div>
          <h2>Mobile Apps</h2>
          <div>
            <div class= "appsdetail">
              <ul class= "description">
                <li></li>
                <li></li>
              </ul>
            </div>
            <div class="appsimage">
              <div class="android">
                <img class="androidimage" src="img/ss/android1.png">
                <p>Android</p>
              </div>
              <div class="iphone">
                <img class="iphoneimage" src="img/ss/iPhone1.png">
                <p>iPhone</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="content events">
        <div class="content-wrap">
          <h1>Events</h1>
          <p>これまでに，オープンキャンパスや自転車スタンプラリーイベント，街歩きイベントなどで様々なイベントで活用されてきました。</p>
        </div>
      </section>

      <section class="content team">
        <div class="content-wrap">
          <h1>Team</h1>
          <p>ParmoSenseは，奈良先端科学技術大学院大学ユビキタスコンピューティングシステム研究室スマートシティ研究グループが開発しています。</br>
            詳しくは<a href="/team/">こちら</a>
          </p>
        </div>
      </section>

      <section class="content download">
        <div class="content-wrap">
          <h1>Download</h1>
          <p>ParmoSenseは以下のリンクからダウンロード可能です。仕様およびスペックは<a href="/download/">ダウンロードページ</a>からご確認いただけます。
          </p>
          <div class="download-link">
            <a href="https://play.google.com/store/apps/details?id=jp.naist.ubi_lab.parmo_sense"> <img src="img/badge_googleplay.png" alt="ParmoSense Android"></a>
            <a href="https://itunes.apple.com/jp/app/parmosense/id1184713498"><img src="img/badge_appstore.png" alt="ParmoSense iOS"></a>
          </div>
          </div>
      </section>

      <!--
      <section class="content andorid-detail">
        <div class="content-wrap">
          <h1>ParmoSense for Android</h1>
          <div class="android-content">
            <div class="android-img">Android-img</div>
            <div class="android-spec">
              <dl>
                <dt>対応OS</dt> <dd> Android5.0 以上</dd>
                <dt>a</dt> <dd>aa</dd>
                <dt>b</dt> <dd>bb</dd>
                <dt>c</dt> <dd>cc</dd>
              </dl>
            </div>
          </div>
        </div>
      </section>

      <section class="content ios-detail">
        <div class="content-wrap">
          <h1>ParmoSense for iOS</h1>
          <div class="ios-content">
            <div class="ios-spec">
              <dl>
                <dt>対応OS</dt> <dd> iOS10.0 以上 </dd>
                <dt>a</dt> <dd>aa</dd>
                <dt>b</dt> <dd>bb</dd>
                <dt>c</dt> <dd>cc</dd>
              </dl>
            </div>
            <div class="ios-img">iOS-img</div>
          </div>
        </div>
      </section>

    -->

      <section class="content download-link">
        <div class="content-wrap">
          <a href="https://play.google.com/store/apps/details?id=jp.naist.ubi_lab.parmo_sense"> <img src="img/badge_googleplay.png" alt="ParmoSense Android"></a>
          <a href="https://itunes.apple.com/jp/app/parmosense/id1184713498"><img src="img/badge_appstore.png" alt="ParmoSense iOS"></a>

        </div>
      </section>
    </div>
  </div>

  <%- include('./template/footer') -%>
