<%- include('./template/header') -%>

<div class="main">
  <div class="top-visual">
  </div>

  <div class="contents top-page">
    <section class="content brief-intro">
      <div class="content-wrap">
        <h1>Platform for participatory mobile urban sensing</h1>
        <p>
          ParmoSense is Participatory Mobile Sensing Platform.<br>
          This platrform is provided by Ubiquitous Computing Systems Laboratory, NAIST.
        </p>
      </div>
    </section>

    <section class="content andorid-detail">
      <div class="content-wrap">
        <h1>ParmoSense for Android</h1>
        <div class="android-content">
          <div class="android-img">Android-img</div>
          <div class="android-spec">
            <dl>
              <dt>対応OS</dt> <dd> Android5.0 以上</dd>
              <dt>a</dt> <dd>aa</dd>
              <dt>b</dt> <dd>bb</dd>
              <dt>c</dt> <dd>cc</dd>
            </dl>
          </div>
        </div>
      </div>
    </section>

    <section class="content ios-detail">
      <div class="content-wrap">
        <h1>ParmoSense for iOS</h1>
        <div class="ios-content">
          <div class="ios-spec">
            <dl>
              <dt>対応OS</dt> <dd> iOS10.0 以上 </dd>
              <dt>a</dt> <dd>aa</dd>
              <dt>b</dt> <dd>bb</dd>
              <dt>c</dt> <dd>cc</dd>
            </dl>
          </div>
          <div class="ios-img">iOS-img</div>
        </div>
      </div>
    </section>

    <section class="content download-link">
      <div class="content-wrap">
        <a href="https://play.google.com/store/apps/details?id=jp.naist.ubi_lab.parmo_sense"> <img src="img/badge_googleplay.png" alt="ParmoSense Android"></a>
        <a href="https://itunes.apple.com/jp/app/parmosense/id1184713498"><img src="img/badge_appstore.png" alt="ParmoSense iOS"></a>
      </div>
    </section>
  </div>
</div>

<%- include('./template/footer') -%>
