html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

* {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  width: 100%;
  font-size: 1.1em;
  background: white;
  font-family: "leitura-news", "a-otf-ud-reimin-pr6n", serif; }

a {
  text-decoration: none;
  color: #ff8a00;
  font-weight: bold; }

a:hover {
  color: #cf7000; }

a:focus {
  outline: none; }

.clearfix:after {
  content: "";
  clear: both;
  display: block; }

sup {
  font-size: 0.75em;
  vertical-align: top;
  position: relative;
  top: -0.2em;
  margin: 0 0.2em; }

.bg-gray {
  background: #f2f2f2; }

b {
  background: #fdf3ce; }

header.menubar {
  display: block;
  width: 100%;
  height: 100px;
  background: #0071b5;
  opacity: 0.9;
  position: fixed;
  z-index: 1000; }
  header.menubar div.action-wrap {
    display: block;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto; }
    header.menubar div.action-wrap img {
      height: 60px;
      width: auto;
      padding-top: 10px; }
    header.menubar div.action-wrap h1 {
      float: left;
      width: 100px;
      height: 100px;
      margin: 0 0 0 10px;
      background: url("../img/logo_parmosense_icon.png") center center no-repeat; }
      header.menubar div.action-wrap h1 span {
        display: none;
        visibility: hidden; }
    header.menubar div.action-wrap nav ul {
      float: right;
      margin: 0 20px 0 0; }
      header.menubar div.action-wrap nav ul li {
        height: 100px;
        float: left; }
        header.menubar div.action-wrap nav ul li a {
          display: block;
          height: 100px;
          line-height: 100px;
          padding: 0 30px;
          color: white;
          font-size: 20px;
          letter-spacing: 2px; }
          header.menubar div.action-wrap nav ul li a:hover {
            background: rgba(255, 255, 255, 0.1); }

div.main {
  min-height: 100vh;
  width: 100vw; }
  div.main div.contents section.content {
    width: 100vw; }
    div.main div.contents section.content h1 {
      font-size: 2em;
      line-height: 1.2em;
      margin: 10px 0 25px;
      font-weight: bold; }
    div.main div.contents section.content h2 {
      font-size: 1.5em;
      line-height: 1.2em;
      margin: 30px 0 15px;
      font-weight: bold; }
    div.main div.contents section.content h3 {
      font-size: 1.3em;
      font-weight: bold;
      margin: 30px 0 0; }
    div.main div.contents section.content h1 span, div.main div.contents section.content h2 span, div.main div.contents section.content h3 span {
      padding: 0 0 0 2ex;
      font-size: 0.7em;
      color: #666; }
    div.main div.contents section.content p {
      padding: 20px 0 0;
      line-height: 1.8em; }
      div.main div.contents section.content p.footnote {
        margin: 20px 0;
        border: 1px solid #eee;
        border-width: 1px 0 0; }
      div.main div.contents section.content p img.full-width-img {
        display: block;
        width: 100%;
        max-width: 1000px;
        margin: 30px auto; }
    div.main div.contents section.content img.right-img {
      float: right;
      width: 30%;
      margin: 0 0 10px 5%; }
    div.main div.contents section.content ul {
      list-style: disc;
      padding: 10px 0; }
      div.main div.contents section.content ul li {
        margin: 2px 0 2px 25px; }
        div.main div.contents section.content ul li ul {
          list-style: circle;
          padding: 8px 0; }
      div.main div.contents section.content ul.member {
        list-style: none; }
        div.main div.contents section.content ul.member li {
          margin: 0 0 30px;
          width: auto;
          min-height: 200px; }
          div.main div.contents section.content ul.member li img {
            float: left;
            width: 200px;
            border-radius: 4px;
            margin: 0 30px 10px 0; }
          div.main div.contents section.content ul.member li p.bio {
            margin: 15px 0;
            font-size: 0.8em; }
    div.main div.contents section.content div.content-wrap {
      display: block;
      width: auto;
      max-width: 1200px;
      padding: 60px 40px;
      margin: 0 auto; }
    div.main div.contents section.content.top-visual {
      height: 100vh;
      margin: 0 0 30px;
      background: #0093eb url("../img/logo_parmosense_top.png") center center no-repeat; }
    div.main div.contents section.content.sub-page-top-visual {
      margin: 0 0 60px;
      padding: 130px 0 0;
      background: #0093eb;
      color: white; }
      div.main div.contents section.content.sub-page-top-visual h1 span {
        color: #a8d8f4; }
  div.main div.contents.top-page a.page-link {
    float: right;
    margin: 20px 5px;
    padding: 5px 30px;
    position: relative; }
    div.main div.contents.top-page a.page-link:after {
      position: absolute;
      top: 50%;
      margin: -6px 10px 0;
      content: "";
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 7px solid transparent;
      border-left: 10px solid #ff8a00; }
    div.main div.contents.top-page a.page-link:hover:after {
      border-left: 10px solid #cf7000; }
  div.main div.contents.top-page div.left-description {
    margin-right: 55%; }
  div.main div.contents.top-page div.app-ss {
    float: right;
    width: 50%;
    margin: 0 0 20px 5%;
    text-align: center; }
    div.main div.contents.top-page div.app-ss img.android-ss {
      width: 48%;
      float: left; }
    div.main div.contents.top-page div.app-ss img.iPhone-ss {
      width: 48%;
      float: right; }
  div.main div.contents.top-page div.event-photos {
    display: block;
    height: 300px;
    width: 100%;
    margin: -50px 0 0;
    padding: 0 0 50px;
    overflow: hidden; }
    div.main div.contents.top-page div.event-photos div {
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch; }
      div.main div.contents.top-page div.event-photos div ul {
        display: inline-table;
        max-width: 100%; }
      div.main div.contents.top-page div.event-photos div li {
        display: table-cell;
        list-style: none;
        padding: 0 10px 0 0; }
      div.main div.contents.top-page div.event-photos div img {
        height: 300px;
        width: auto; }
  div.main div.contents.top-page div.download-link {
    width: 50%;
    margin: 20px 0;
    float: right; }
  div.main div.contents.about div.slide-container {
    display: block;
    max-width: 800px;
    width: 100%;
    margin: 50px auto; }
    div.main div.contents.about div.slide-container iframe {
      width: 100%; }
      @media screen and (max-width: 760px) {
        div.main div.contents.about div.slide-container iframe {
          max-width: 600px;
          height: 500px; } }
      @media screen and (min-width: 760px) {
        div.main div.contents.about div.slide-container iframe {
          max-width: 800px;
          height: 650px; } }
  div.main div.contents.about div.movie-container {
    display: block;
    max-width: 800px;
    width: 100%;
    margin: 0px auto; }
    div.main div.contents.about div.movie-container iframe {
      width: 100%; }
      @media screen and (max-width: 760px) {
        div.main div.contents.about div.movie-container iframe {
          max-width: 600px;
          height: 340px; } }
      @media screen and (min-width: 760px) {
        div.main div.contents.about div.movie-container iframe {
          max-width: 800px;
          height: 450px; } }
  div.main div.contents.events section.event-cards {
    display: block;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto; }
    div.main div.contents.events section.event-cards div.event-card {
      margin: 20px 0;
      padding: 20px 30px;
      box-shadow: 0 1px 3px 0 #ccc;
      border-radius: 2px; }
      div.main div.contents.events section.event-cards div.event-card p.event-reference {
        margin: 15px 0 0; }
    div.main div.contents.events section.event-cards div.event-photo {
      height: 200px;
      width: 100%;
      margin: 10px 0;
      overflow: hidden; }
      div.main div.contents.events section.event-cards div.event-photo > div {
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch; }
      div.main div.contents.events section.event-cards div.event-photo ul {
        display: inline-table;
        max-width: 100%; }
      div.main div.contents.events section.event-cards div.event-photo li {
        display: table-cell;
        list-style: none;
        padding: 0 10px 0 0 !important; }
      div.main div.contents.events section.event-cards div.event-photo img {
        height: 200px;
        width: auto; }
  div.main div.contents.team section.content p.bio {
    font-size: 0.9em;
    line-height: 1.6em; }
  div.main div.contents.team section.content ul.member {
    margin: 30px 0 0; }
  div.main div.contents.team section.content ul.work li {
    min-height: auto;
    list-style: none;
    float: left;
    padding: 5px 10px;
    margin: 0 10px 0 0;
    color: #0093eb;
    border: 1px solid #0093eb;
    border-radius: 3px; }
  div.main div.contents.download ul.requirement {
    margin: 0 0 20px; }
  div.main div.contents.download a.download-link {
    display: block;
    margin: 0 0 80px; }
  div.main div.contents.privacy-policy section.content h2, div.main div.contents.privacy-policy section.content h3 {
    max-width: 800px;
    margin: 40px auto 20px; }
  div.main div.contents.privacy-policy section.content p {
    padding: 10px 0;
    max-width: 800px;
    margin: 0 auto; }
  div.main div.contents.privacy-policy section.content ul {
    max-width: 800px;
    margin: 0 auto; }
    div.main div.contents.privacy-policy section.content ul li {
      list-style: none;
      min-height: 30px;
      line-height: 30px; }
      div.main div.contents.privacy-policy section.content ul li span.at:after {
        content: "@"; }

footer.footer {
  margin: 100px 0 0;
  width: 100vw; }
  footer.footer div {
    display: block;
    width: 100%; }
    footer.footer div.footer-image {
      padding: 90px 0 0;
      background-color: white;
      background-image: url(../img/footer_image.png);
      background-position: top center;
      background-repeat: no-repeat; }
    footer.footer div.footer-wrap {
      background: #0071b5;
      padding: 40px 0 20px 0;
      margin: 0 auto;
      color: white;
      text-align: center; }
      footer.footer div.footer-wrap a {
        color: white; }
      footer.footer div.footer-wrap ul.site-link {
        list-style-type: none; }
        footer.footer div.footer-wrap ul.site-link li {
          display: inline-block;
          padding: 5px;
          margin: 10px; }
      footer.footer div.footer-wrap ul.ex-link {
        list-style-type: none; }
        footer.footer div.footer-wrap ul.ex-link li {
          display: inline-block;
          padding: 5px 0 0 0;
          margin: 10px; }
      footer.footer div.footer-wrap span.gmail-domain:before {
        content: "@gmail.com"; }

a.for-lod-challenge {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 240px;
  height: 120px;
  background: #f4002a url("../img/lodc/lodc.png") center center no-repeat;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 black; }
  a.for-lod-challenge:hover {
    bottom: 39px;
    box-shadow: 0 0 2px 0 black; }

div.for-lod-challenge div.lodc-step {
  padding: 40px 0; }
  div.for-lod-challenge div.lodc-step h2 {
    margin: 10px 0 !important; }
  div.for-lod-challenge div.lodc-step + h1 {
    padding: 80px 0 0; }
  div.for-lod-challenge div.lodc-step ul {
    padding: 0 0 20px; }

div.for-lod-challenge p {
  padding: 10px 0; }

div.for-lod-challenge div.download-link {
  padding: 20px 0; }

div.for-lod-challenge img.right-img {
  float: right;
  width: 45%;
  margin: 0 0 0 5%;
  height: auto; }

a.for-urban-data-challenge {
  position: fixed;
  left: 40px;
  bottom: 40px;
  width: 240px;
  height: 120px;
  background: #f4002a url("../img/udc/udc.png") center center no-repeat;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 black; }
  a.for-urban-data-challenge:hover {
    bottom: 39px;
    box-shadow: 0 0 2px 0 black; }
