html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

* {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  width: 100%;
  font-size: 1.1em;
  background: white;
  font-family: "leitura-news", "a-otf-ud-reimin-pr6n", serif; }

a {
  text-decoration: none; }

a:focus {
  outline: none; }

.clearfix:after {
  content: "";
  clear: both;
  display: block; }

header.menubar {
  display: block;
  width: 100%;
  height: 100px;
  background: #0071b5;
  opacity: 0.9;
  position: fixed;
  z-index: 1000; }
  header.menubar div.action-wrap {
    display: block;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto; }
    header.menubar div.action-wrap img {
      height: 60px;
      width: auto;
      padding-top: 10px; }
    header.menubar div.action-wrap h1 {
      float: left;
      width: 100px;
      height: 100px;
      margin: 0 0 0 10px;
      background: url("../img/logo_parmosense_icon.png") center center no-repeat; }
      header.menubar div.action-wrap h1 span {
        display: none;
        visibility: hidden; }
    header.menubar div.action-wrap nav ul {
      float: right;
      margin: 0 20px 0 0; }
      header.menubar div.action-wrap nav ul li {
        height: 100px;
        float: left; }
        header.menubar div.action-wrap nav ul li a {
          display: block;
          height: 100px;
          line-height: 100px;
          padding: 0 30px;
          color: white;
          font-size: 20px;
          letter-spacing: 2px; }
          header.menubar div.action-wrap nav ul li a:hover {
            background: rgba(255, 255, 255, 0.1); }

div.main {
  min-height: 100vh;
  width: 100vw; }
  div.main div.top-visual {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #0093eb url("../img/logo_parmosense_top.png") center center no-repeat; }
  div.main div.contents {
    padding: 100px 0 0; }
    div.main div.contents.top-page {
      padding: 40px 0 0; }
    div.main div.contents section.content {
      width: 100vw; }
      div.main div.contents section.content h1 {
        font-size: 2em;
        line-height: 1.2em;
        margin: 10px 0 25px;
        font-weight: bold; }
      div.main div.contents section.content h2 {
        font-size: 1.5em;
        line-height: 1.2em;
        margin: 30px 0 15px;
        font-weight: bold; }
      div.main div.contents section.content h3 {
        font-size: 1.3em;
        font-weight: bold; }
      div.main div.contents section.content h1 span, div.main div.contents section.content h2 span, div.main div.contents section.content h3 span {
        padding: 0 0 0 2ex;
        font-size: 0.7em;
        color: #666; }
      div.main div.contents section.content p {
        line-height: 1.5em; }
      div.main div.contents section.content ul {
        list-style: disc;
        padding: 10px 0; }
        div.main div.contents section.content ul li {
          margin: 0 0 0 25px; }
        div.main div.contents section.content ul.member {
          list-style: none; }
          div.main div.contents section.content ul.member li {
            margin: 0 0 30px;
            width: auto;
            min-height: 200px; }
            div.main div.contents section.content ul.member li img {
              float: left;
              width: 200px;
              border-radius: 4px;
              margin: 0 30px 10px 0; }
            div.main div.contents section.content ul.member li p.bio {
              margin: 15px 0;
              font-size: 0.8em; }
      div.main div.contents section.content div.content-wrap {
        display: block;
        width: auto;
        max-width: 1200px;
        padding: 60px 40px;
        margin: 0 auto; }
        div.main div.contents section.content div.content-wrap div.parmosense div {
          margin: 0 0 30px;
          width: auto;
          min-height: 300px; }
          div.main div.contents section.content div.content-wrap div.parmosense div img.content-image {
            float: right;
            width: 350px;
            border-radius: 4px;
            margin: -50px 30px 0 100px; }
          div.main div.contents section.content div.content-wrap div.parmosense div div.appsdetail {
            float: left; }
            div.main div.contents section.content div.content-wrap div.parmosense div div.appsdetail ul.description {
              list-style: circle;
              margin: 0 30px 30px; }
              div.main div.contents section.content div.content-wrap div.parmosense div div.appsdetail ul.description li {
                width: auto;
                min-height: 20px; }
          div.main div.contents section.content div.content-wrap div.parmosense div div.appsimage {
            float: right;
            width: 400px;
            text-align: center; }
            div.main div.contents section.content div.content-wrap div.parmosense div div.appsimage img {
              width: 180px; }
            div.main div.contents section.content div.content-wrap div.parmosense div div.appsimage div.android {
              float: left;
              text-align: center; }
            div.main div.contents section.content div.content-wrap div.parmosense div div.appsimage div.iphone {
              float: right;
              text-align: center; }
      div.main div.contents section.content.download div.content-wrap div.download-link {
        display: block;
        text-align: center; }
      div.main div.contents section.content.event-cards {
        display: block;
        width: 100%;
        max-width: 1280px;
        margin: 0 auto 60px; }
        div.main div.contents section.content.event-cards div.content-wrap {
          padding: 0 40px; }
        div.main div.contents section.content.event-cards div.event-card {
          margin: 20px 40px;
          padding: 20px 30px;
          box-shadow: 0 1px 3px 0 #ccc;
          border-radius: 2px; }
      div.main div.contents section.content.download-link {
        background: #ccc; }
        div.main div.contents section.content.download-link div.content-wrap {
          text-align: center;
          padding: 80px 0; }

footer.footer {
  width: 100vw;
  background: #0071b5; }
  footer.footer div.footer-wrap {
    display: block;
    width: 100%;
    max-width: 1200px;
    padding: 40px 0;
    margin: 0 auto;
    color: white;
    text-align: center; }
    footer.footer div.footer-wrap a {
      color: white; }
    footer.footer div.footer-wrap span.gmail-domain:before {
      content: "@gmail.com"; }
