<%
var absolutePath = filename.split("source/html/")[1].replace("index.ejs","");
var rootPath = "../".repeat([absolutePath.split("/").length -1]);
if(rootPath == "") { rootPath = "./"; }
var pageName = absolutePath.replace("/", "");
if(pageName == "") { pageName = "Top"}
var param = {
  pageName: pageName
  absolutePath: "https://ubi-naist.github.io/ParmoSense/" + absolutePath,
  rootPath: rootPath
};
-%>
<%- include(param.rootPath + "template/header", {param: param}) -%>

<%- include(param.rootPath + 'template/lodc') -%>

<div class="main">
  <div class="contents team">
    <section class="content sub-page-top-visual">
      <div class="content-wrap">
        <h1>Development Team<span>開発チーム</span></h1>
      </div>
    </section>
    <section class="content">
      <div class="content-wrap">
        <h1>Member<span>メンバー</span></h1>
        <p>
          ParmoSense は、奈良先端科学技術大学院大学 情報科学研究科 ユビキタスコンピューティングシステム研究室 スマートシティ研究グループが開発しています。
        </p>
        <ul class="member clearfix">
          <li>
            <img src="../img/member/matsuda.jpg">
            <h3>松田 裕貴<span>Yuki Matsuda</span></h3>
            <p class="bio">
              奈良先端科学技術大学院大学 情報科学研究科 博士後期課程１年<br>
              ユーザ参加型都市センシング、ウェアラブルコンピューティング等、モバイル・ユビキタスコンピューティングに関する研究に従事
            </p>
            <ul class="work">
              <li>サーバシステム</li>
              <li>Android アプリケーション</li>
              <li>UI デザイン</li>
            </ul>
          </li>
          <li>
            <img src="../img/member/kawanaka.jpg">
            <h3>河中 祥吾<span>Shogo Kawanaka</span></h3>
            <p class="bio">奈良先端科学技術大学院大学 情報科学研究科 博士前期課程１年</p>
            <ul class="work">
              <li>iOS アプリケーション</li>
              <li>Web サイト</li>
            </ul>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>

<%- include('../template/footer') -%>
