html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ol, ul {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  background: white;
  font-family: "leitura-news", "a-otf-ud-reimin-pr6n", serif;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}


//-----------------//
//    variables    //
//-----------------//

$brand-blue-normal: #0093eb;
$brand-blue-dark: #0071b5;

$brand-orange-normal: #ff8a00;

$gray-light: #ccc;
$gray-normal: #999;
$gray-dark: #666;

//------------------//
//    custom css    //
//------------------//

header.menubar {
  display: block;
  width: 100%;
  height: 100px;
  background: $brand-blue-dark;
  opacity: 0.9;
  position: fixed;
  z-index: 1000;
  div.action-wrap {
    display: block;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    img {
      height: 60px;
      width: auto;
      padding-top: 10px;
    }
    h1 {
      float: left;
      width: 100px;
      height: 100px;
      margin: 0 0 0 10px;
      background: url("../img/logo_parmosense_icon.png") center center no-repeat;
      span {
        display: none;
        visibility: hidden;
      }
    }
    nav ul {
      float: right;
      margin: 0 20px 0 0;
      li {
        height: 100px;
        float: left;
        a {
          display: block;
          height: 100px;
          line-height: 100px;
          padding: 0 30px;
          color: white;
          font-size: 20px;
          letter-spacing: 2px;
          &:hover {
            background: rgba(255, 255, 255, 0.1);
          }
        }
      }
    }
  }
}

div.main {
  min-height: 100vh;
  width: 100vw;
  div.top-visual {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: $brand-blue-normal url("../img/logo_parmosense_top.png") center center no-repeat;
  }
  div.top-contents {
    padding: 40px 0 0;
    section.top-content {
      width: 100vw;
      div.content-wrap {
        display: block;
        width: 100%;
        max-width: 1200px;
        padding: 60px 40px;
        margin: 0 auto;
        h1 {
          font-size: 2em;
          line-height: 2.5em;
          font-weight: bold;
          font-family: "leitura-news", "a-otf-ud-reimin-pr6n", serif;
        }
        p {
          line-height: 1.5em;
        }
      }
      &.download-link {
        background: $gray-light;
        div.content-wrap {
          text-align: center;
          padding: 80px 40px;
        }
      }
    }
  }
}


footer.footer {
  width: 100vw;
  background: $brand-blue-dark;
  div.footer-wrap {
    display: block;
    width: 100%;
    max-width: 1200px;
    padding: 40px;
    margin: 0 auto;
    color: white;
    text-align: center;
    a {
      color: white;
    }
    span.gmail-domain:before {
      content: "@gmail.com";
    }
  }
}
