html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ol, ul {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
}


//-----------------//
//    variables    //
//-----------------//

$brand-blue-normal: #0093eb;
$brand-blue-dark: #0071b5;

$brand-orange-normal: #ff8a00;
$brand-orange-dark: #cf7000;

$gray-light: #ccc;
$gray-normal: #999;
$gray-dark: #666;

$text-highlight: #fdf3ce;

//-------------------//
//    basic style    //
//-------------------//


html {
  height: 100%;
  width: 100%;
  font-size: 1.1em;
  background: white;
  font-family: "leitura-news", "a-otf-ud-reimin-pr6n", serif;
}

a {
  text-decoration: none;
  color: $brand-orange-normal;
  font-weight: bold;
}
a:hover {
  color: $brand-orange-dark;
}

a:focus {
  outline: none;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

sup {
  font-size: 0.75em;
  vertical-align: top;
  position: relative;
  top: -0.2em;
  margin: 0 0.2em;
}

.bg-gray {
  background: #f2f2f2;
}

b {
  background: $text-highlight;
}


//------------------//
//    custom css    //
//------------------//

header.menubar {
  display: block;
  width: 100%;
  height: 100px;
  background: $brand-blue-dark;
  opacity: 0.9;
  position: fixed;
  z-index: 1000;
  div.action-wrap {
    display: block;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    img {
      height: 60px;
      width: auto;
      padding-top: 10px;
    }
    h1 {
      float: left;
      width: 100px;
      height: 100px;
      margin: 0 0 0 10px;
      background: url("../img/logo_parmosense_icon.png") center center no-repeat;
      span {
        display: none;
        visibility: hidden;
      }
    }
    nav ul {
      float: right;
      margin: 0 20px 0 0;
      li {
        height: 100px;
        float: left;
        a {
          display: block;
          height: 100px;
          line-height: 100px;
          padding: 0 30px;
          color: white;
          font-size: 20px;
          letter-spacing: 2px;
          &:hover {
            background: rgba(255, 255, 255, 0.1);
          }
        }
      }
    }
  }
}

div.main {
  min-height: 100vh;
  width: 100vw;
  div.contents {
    section.content {
      width: 100vw;
      h1 {
        font-size: 2em;
        line-height: 1.2em;
        margin: 10px 0 25px;
        font-weight: bold;
      }
      h2 {
        font-size: 1.5em;
        line-height: 1.2em;
        margin: 40px 0 5px;
        font-weight: bold;
      }
      h3 {
        font-size: 1.3em;
        font-weight: bold;
        padding: 50px 0 0;
      }
      h1, h2, h3 {
        span {
          padding: 0 0 0 2ex;
          font-size: 0.7em;
          color: #666;
        }
      }
      p {
        padding: 20px 0 0;
        line-height: 1.8em;
        &.footnote {
          margin: 20px 0 0;
          border: 1px solid #eee;
          border-width: 1px 0 0;
        }
        img.full-width-img {
          display: block;
          width: 100%;
          max-width: 1000px;
          margin: 30px auto 0;
        }
      }
      img.right-img {
        float: right;
        width: 30%;
        margin: 0 0 10px 5%;
      }
      ul {
        list-style: disc;
        padding: 10px 0;
        li {
          margin: 2px 0 2px 25px;
          ul {
            list-style: circle;
            padding: 8px 0;
          }
        }
        &.member {
          list-style: none;
          li {
            margin: 0 0 30px;
            width: auto;
            min-height: 200px;
            img {
              float: left;
              width: 200px;
              border-radius: 4px;
              margin: 0 30px 10px 0;
            }
            p.bio {
              margin: 15px 0;
              font-size: 0.8em;
            }
          }
        }
      }
      ul + p {
        padding: 0;
      }
      div.content-wrap {
        display: block;
        width: auto;
        max-width: 1200px;
        padding: 60px 40px;
        margin: 0 auto;
      }
      &.top-visual {
        height: 100vh;
        margin: 0 0 30px;
        background: $brand-blue-normal url("../img/logo_parmosense_top.png") center center no-repeat;
      }
      &.sub-page-top-visual {
        margin: 0 0 60px;
        padding: 130px 0 0;
        background: #0093eb;
        color: white;
        h1 span {
          color: #a8d8f4;
        }
      }

    }
    &.top-page {
      a.page-link {
        float: right;
        margin: 20px 5px;
        padding: 5px 30px;
        position: relative;
        &:after {
          position: absolute;
          top: 50%;
          margin: -6px 10px 0;
          content: "";
          width: 0;
          height: 0;
          border-top: 7px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 7px solid transparent;
          border-left: 10px solid $brand-orange-normal;
        }
        &:hover:after {
          border-left: 10px solid $brand-orange-dark;
        }
      }

      div.left-description {
        margin-right: 55%;
      }
      div.app-ss {
        float: right;
        width: 50%;
        margin: 0 0 20px 5%;
        text-align: center;
        img.android-ss {
          width: 48%;
          float: left;
        }
        img.iPhone-ss {
          width: 48%;
          float: right;
        }
      }
      div.event-photos {
        display: block;
        height: 300px;
        width: 100%;
        margin: -50px 0 0;
        padding: 0 0 50px;
        overflow: hidden;
        div {
          width: 100%;
          overflow-x: auto;
          -webkit-overflow-scrolling: touch;
          ul {
            display: inline-table;
            max-width: 100%;
          }
          li {
            display: table-cell;
            list-style: none;
            padding: 0 10px 0 0;
          }
          img {
            height: 300px;
            width: auto;
          }
        }
      }
      div.download-link {
        width: 50%;
        margin: 20px 0;
        float: right;
      }
    }
    &.about, &.research {
      div.slide-container {
        display: block;
        max-width: 800px;
        width: 100%;
        margin: 50px auto;
        iframe {
          width: 100%;
          @media screen and (max-width: 760px) {
            max-width: 600px;
            height: 500px;
          }
          @media screen and (min-width: 760px) {
            max-width: 800px;
            height: 650px;
          }
        }
      }
      div.movie-container {
        display: block;
        max-width: 800px;
        width: 100%;
        margin: 0px auto 40px;
        iframe {
          width: 100%;
          @media screen and (max-width: 760px) {
            max-width: 600px;
            height: 340px;
          }
          @media screen and (min-width: 760px) {
            max-width: 800px;
            height: 450px;
          }
        }
      }
    }

    &.events {
      section.event-cards {
        display: block;
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        div.event-card {
          margin: 20px 0;
          padding: 20px 30px;
          box-shadow: 0 1px 3px 0 #ccc;
          border-radius: 2px;
          p.event-reference {
            margin: 15px 0 0;
          }
        }
        div.event-photo {
          height: 200px;
          width: 100%;
          margin: 10px 0;
          overflow: hidden;
          & > div {
            width: 100%;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
          }
          ul {
            display: inline-table;
            max-width: 100%;
          }
          li {
            display: table-cell;
            list-style: none;
            padding: 0 10px 0 0!important;
          }
          img {
            height: 200px;
            width: auto;
          }
        }
      }
    }
    &.team {
      section.content {
        p.bio {
          font-size: 0.9em;
          line-height: 1.6em;
        }
        ul.member {
          margin: 30px 0 0;
        }
        ul.work li {
          min-height: auto;
          list-style: none;
          float: left;
          padding: 5px 10px;
          margin: 0 10px 0 0;
          color: #0093eb;
          border: 1px solid #0093eb;
          border-radius: 3px;
        }
      }
    }
    &.download {
      ul.requirement {
        margin: 0 0 20px;
      }
      a.download-link {
        display: block;
        margin: 0 0 80px;
      }
    }
    &.privacy-policy {
      section.content {
        h2, h3 {
          max-width: 800px;
          margin: 40px auto 20px;
        }
        p {
          padding: 10px 0;
          max-width: 800px;
          margin: 0 auto;
        }
        ul {
          max-width: 800px;
          margin: 0 auto;
          li {
            list-style: none;
            min-height: 30px;
            line-height: 30px;
            span.at:after {
              content: "@";
            }
          }
        }
      }
    }
  }
}


footer.footer {
  margin: 100px 0 0;
  width: 100vw;
  div{
    display: block;
    width: 100%;
    &.footer-image{
      padding: 90px 0 0;
      background-color: white;
      background-image: url(../img/footer_image.png);
      background-position: top center;
      background-repeat: no-repeat;
    }
    &.footer-wrap{
      background: $brand-blue-dark;
      padding: 40px 0 20px 0;
      margin: 0 auto;
      color: white;
      text-align: center;
      a {
        color: white;
      }
      ul.site-link{
        list-style-type: none;
        li{
          display: inline-block;
          padding: 5px;
          margin: 10px;
        }
      }
      ul.ex-link{
        list-style-type: none;
        li{
          display: inline-block;
          padding: 5px 0 0 0;
          margin: 10px;
        }
      }
      span.gmail-domain:before {
        content: "@gmail.com";
      }
    }
  }
}



a.for-lod-challenge {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 240px;
  height: 120px;
  background: #f4002a url("../img/lodc/lodc.png") center center no-repeat;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 black;
  &:hover {
    bottom: 39px;
    box-shadow: 0 0 2px 0 black;
  }
}

div.for-lod-challenge {
  div.lodc-step {
    padding: 40px 0;
    h2 {
      margin: 10px 0!important;
    }
    & + h1 {
      padding: 80px 0 0;
    }
    ul {
      padding: 0 0 20px;
    }
  }
  p {
    padding: 10px 0;
  }
  div.download-link {
    padding: 20px 0;
  }
  img.right-img {
    float: right;
    width: 45%;
    margin: 0 0 0 5%;
    height: auto;
  }
}




a.for-urban-data-challenge {
  position: fixed;
  left: 40px;
  bottom: 40px;
  width: 240px;
  height: 120px;
  background: #f4002a url("../img/udc/udc.png") center center no-repeat;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 black;
  &:hover {
    bottom: 39px;
    box-shadow: 0 0 2px 0 black;
  }
}
