<%
var absolutePath = filename.split("source/html/")[1].replace("index.ejs","");
var rootPath = "../".repeat([absolutePath.split("/").length -1]);
var pageName = absolutePath.replace("/", "");
var param = {
  pageName: pageName == "" ? "top" : pageName,
  absolutePath: "https://ubi-naist.github.io/ParmoSense/" + absolutePath,
  rootPath: rootPath == "" ? "./" : rootPath
};
-%>
<%- include(param.rootPath + "template/header", {param: param}) -%>
<!-- 
<%- include(param.rootPath + 'template/lodc') -%>

<%- include(param.rootPath + "template/udc") -%>
 -->
<div class="main">
  <div class="contents download">
    <section class="content sub-page-top-visual">
      <div class="content-wrap">
        <h1>Download<span>ダウンロード</span></h1>
      </div>
    </section>
    <section class="content">
      <div class="content-wrap">
        <h1>Android</h1>
        <ul class="requirement">
          <li>OS： Android 4.4 以上</li>
          <li>機能：
            <ul>
              <li>GPS</li>
              <li>カメラ</li>
              <li>Bluetooth Low Energy（BLE）</li>
            </ul>
          </li>
          <li>動作確認済端末：
            <ul>
              <li>Google Nexus 5</li>
              <li>Google Nexus 6</li>
              <li>Google Nexus 5X</li>
            </ul>
          </li>
        </ul>
        <a href="https://play.google.com/store/apps/details?id=jp.naist.ubi_lab.parmo_sense" class="download-link"><img src="../img/badge_googleplay.png" alt="ParmoSense Android"></a>
        <h1>iOS</h1>
        <ul class="requirement">
          <li>OS： iOS 10 以上</li>
          <li>動作確認済端末：
            <ul>
              <li>iPhone 7 Plus</li>
              <li>iPhone 7</li>
            </ul>
          </li>
        </ul>
        <a href="https://itunes.apple.com/jp/app/parmosense/id1184713498" class="download-link"><img src="../img/badge_appstore.png" alt="ParmoSense iOS"></a>
      </div>
    </section>
  </div>
</div>


<%- include(param.rootPath + 'template/footer') -%>